* {
  margin: 0;
  padding: 0;
}
selector {
  clip-path: polygon(0% 0%, 100% 0%, 300% 33%, 0% 60%);
}

/* add this to the HTML widget custom CSS section */

#hero-section {
  position: relative;
    height: 100vh;
    width: 100vw;
  overflow-x: hidden;
}

#gradient-canvas {
  position: relative;
    height: 100vh;
    width: 100vw;
}
